* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Hanken Grotesk', sans-serif;
  background-color: #f8f9fc;
  color: #07090d;
}

.dark {
  background-color: #000000;
  color: #fcfdff;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.05);
}
::-webkit-scrollbar-thumb {
  background: #e04f00;
  border-radius: 10px;
}